* {font-family: helvetica;}
#content{ 
                overflow: auto;
                margin-left: 250px;
                height: 100%;
                width: 100%;          
                padding-left: 100px;
                padding-top: 50px;
                padding-bottom: 50em;
                color: #333;
                text-align: left;
                background-color: white;
            }
ul{
                background-color:white;
                text-overflow:inherit;
                overflow: scroll;
                width: 250px;
                list-style-type: none;
                font-size: 120%;
                height: 100%;
                margin: 0;
                padding: 0;
                position: fixed;
                text-align: center;
                line-height: 1.2em;
            }
li {
                text-decoration: none;
                display: block;
                line-height: 0.4em;
                padding-left: 0px;
                padding-top: 6px;
                padding-bottom: 6px;
                color: black;
                
            }    
li:hover{
                background-color: #555555;
                color: white;
            }
li a{
                text-decoration: none;
                display: block;
                color: black;
            }    
li a.active{
                background-color: #4caf50;
                color: white;
            }
li a:hover:not(.active){
                background-color: #555555;
                color: white;
            }
.grid {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-auto-rows: minimax(400px, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                justify-content: flex-start;            
            }
.grid img{
                width: 500px;                
                border: 1px solid #ccc;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            }
.grid img:hover {
                transition: .3s transform;
                transform: scale(1.1, 1.1);
            }
h1.strong{
                color:black;
                font-size: 50px;
                line-height: normal;           
                margin-left: auto;
                padding-left: auto;
            }            
.menu a{
                cursor: pointer;
            }
.menu.hide{
                display: none;
            }
#index{                
                text-align: left;
                padding-left:52px;
                line-height: 2.2em;
                color: balck;
                font-size: 15px;
            }
index:hover{
                font-weight: 600;
            }
#index>li a.active{
                 background-color: #555555;
                color: white;
            }
h6{
              line-height: 0px;  
            }
details summary::-webkit-details-marker{
                display: none;
            }
#navbar a{
                text-decoration:none;
                color: black;
            }
.container {
  display: inline-block;
  cursor: pointer;
}
