* {font-family: helvetica;}
@media(min-width:1000px) {
            #content{ 
                overflow: auto;
                margin-left: 250px;
                height: 500%;
                width: 500%;          
                padding-left: 100px;
                padding-top: 50px;
                padding-bottom: 150em;
                color: #333;
                text-align: left;
                background-color: white;
            }
            ul{
                background-color:white;
                text-overflow:inherit;
                overflow: scroll;
                width: 250px;
                list-style-type: none;
                font-size: 120%;
                height: 100%;
                margin: 0;
                padding: 0;
                position: fixed;
                text-align: center;
                line-height: 1.2em;
            }
            li {
                text-decoration: none;
                display: block;
                line-height: 0.4em;
                padding-left: 0px;
                padding-top: 6px;
                padding-bottom: 6px;
                color: black;
                
            }    
            li:hover{
                background-color: #555555;
                color: white;
            }
            li a{
                text-decoration: none;
                display: block;
                color: black;
            }    
            li a.active{
                background-color: #4caf50;
                color: white;
            }
            li a:hover:not(.active){
                background-color: #555555;
                color: white;
            }
            .grid {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-auto-rows: minimax(400px, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                justify-content: flex-start;            
            }
            .grid img{
                width: 500px;                
                border: 1px solid #ccc;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
            }
            .grid img:hover {
                transition: .3s transform;
                transform: scale(1.1, 1.1);
            }
            h1.strong{
                color:black;
                font-size: 50px;
                line-height: normal;           
                margin-left: auto;
                padding-left: auto;
            }
            
            .menu a{
                cursor: pointer;
            }
            .menu.hide{
                display: none;
            }
            #index{                
                text-align: left;
                padding-left:52px;
                line-height: 2.2em;
                color: balck;
                font-size: 15px;
            }
            #index:hover{
                font-weight: 600;
            }
            #index>li a.active{
                 background-color: #555555;
                color: white;
            }
            h6{
              line-height: 0px;  
            }
            details summary::-webkit-details-marker{
                display: none;
            }
            #navbar a{
                text-decoration:none;
                color: black;
            }
}

@media(max-width:1000px){
    
    #content{ 
        display: block;
                overflow: auto;
                height: 100%;
                width: 90%;
                color: #333;
        padding: 16px 16px;
        padding-top: 15%;
                text-align: center;
                background-color: white;
            }
    ul{
                top: 0px;
        left: 0px;
                background-color: white;
                text-overflow:inherit;
                overflow: hidden;
                width: 100%;
                list-style-type: none;
                font-size: 120%;
                height: 10%;
        border-bottom: 1px solid black;
                margin: 0;
                padding: 0;
                position: fixed;
                text-align: center;
             
            }
            li {
                text-decoration: none;
                display: block;
                line-height: 0.5em;
                padding-left: 0px;
                padding-top: 0px;
                padding-bottom: 6px;
                color: white;
            }    
            li:hover{
                background-color: white;
                color: white;
            }
            li a{
                text-decoration: none;
                display: block;
                color: black;
                margin: 0px;
                padding: 0px;
            }    
            li a.active{
                background-color: white;
                color: white;
            }
            li a:hover:not(.active){
                background-color: #555555;
                color: white;
            }
            .grid {
                display: block;
                grid-template-columns: auto auto auto;
                grid-auto-rows: minimax(400px, auto);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                justify-content: flex-start;         
                
            }
            .grid img{
                width: 80%;                
                border: 1px solid #ccc;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
                
            }
            .grid img:hover {
                transition: .3s transform;
                transform: scale(1.1, 1.1);
            }
            h1.strong{
                color:black;
                font-size: 50px;
                line-height: normal;           
                margin-left: auto;
                padding-left: auto;
                
            }
            .menu a{
                cursor: pointer;
                
            }
            .menu.hide{
                display: none;
                
            }
    #logo{
        top: 0px;        
        overflow: auto;
        height: 100%;
        width: auto;
        padding-left: 0px;
        margin-left: 0px;
    }
            #index{                
                text-align: left;
                line-height: 1em;
                color: white;
                background-color: black;
                font-size: 7px;
                
            }
            #index:hover{
                font-weight: 600;
                
            }
            #index>li a.active{
                 background-color: #555555;
                color: white;
            }
            h6{
              line-height: 0px;  
            }
            details summary::-webkit-details-marker{
                
                display: none;
                
            }
    #navbar{
                display: grid;
                text-decoration:none;
                max-height: 21em;
                color: white;
                background-color: black;
            }
    ul li{        
        padding: 0;
        margin: 0;
    }
}
